@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Filson Pro';
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
label {
  margin: 0;
}
ul{
  margin:0;
  padding:0;
  list-style: none;
}
span {
  display: inline-block;
}
a {
  display: inline-block;
}
input:focus, button:focus {
  outline: none !important;
}

/*sign up page css*/
.su_signup_area {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.su_signup_item {
  border: 2px solid #707070;
  border-radius: 20px;
  padding: 30px 30px;
}
.su_signup_heading {
  text-align: center;
}
.su_signup_heading h1 {
  font-weight: 800;
  color: #464C5F;
  font-size: 30px;
}
.su_signup_heading p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #464C5F;
  font-size: 14px;
  padding: 10px 0px;
}
.su_signup_step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  counter-reset: my-sec-counter;
}
.su_signup_step ul {
  margin: 30px 0px 70px 0px;
}
.su_signup_step ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #464C5F;
  font-weight: normal;
  font-size: 18px;
}
.su_signup_step li::after {
  position: absolute;
  left: -20px;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #464C5F;
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter) "";
  font-weight: 800;
  color: #fff;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.su_signup_step ul li span:first-child {
  width: 75px;
  text-align: center;
  margin: 0px 5px 0px 18px;
}
.su_signup_step ul li:last-child span {

}
.su_button {
  text-align: center;
}
.su_primary_button {
  border: none;
  background: #707070;
  display: inline-block;
  padding: 7px 50px;
  border-radius: 3px;
  color: #fff;
  font-weight: 800;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.su_primary_button:hover {
  color: #fff;
  background: #464C5F
}
.su_persoanl_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.su_form_details {
  margin: 15px 0px 40px 0px;
}
.su_input_item {
  width: 310px;
  padding: 7px 0px;
}
.su_input_item label {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #282A3B;
  font-size: 14px;
  padding-left: 5px;
}
.su_input_item input {
  border: 1px solid #A8A9B0;
  padding: 10px 10px;
  border-radius: 10px;
  width: 100%;
}
.su_input_item input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.su_input_item input[type=number] {
  -moz-appearance: textfield;
}
.su_input_item input::-webkit-input-placeholder {
  color: #777777;
  opacity: 1;
  font-size: 13px;
}
.su_input_item input::-moz-placeholder {
  color: #777777;
  opacity: 1;
  font-size: 13px;
}
.su_input_item input:-ms-input-placeholder {
  color: #777777;
  opacity: 1;
  font-size: 13px;
}
.su_input_item input::-ms-input-placeholder {
  color: #777777;
  opacity: 1;
  font-size: 13px;
}
.su_input_item input::placeholder {
  color: #777777;
  opacity: 1;
  font-size: 13px;
}
.su_input_item .su_input_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.su_input_item .su_input_flex .su_country_code {
  width: 110px;
  margin-right: 10px;
}

/*sign up responsive code*/
@media all and (max-width: 767px) {
  .su_signup_area {
    height: auto;
    padding: 40px 0px;
  }
  .su_signup_item {
    border: 0;
  }
  .su_signup_item {
    padding: 0;
  }
  .su_signup_step ul {
    margin: 30px 0px 70px 0px;
  }
}